.card {
	background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
	margin: 2em;	
	padding: 1em;
	min-width: 15em;
	height: 100%;
}

.card-title {
	margin: 0;
	border-bottom: 1px solid black;
}

.tasks {
	color: black;
	/* border: 1px solid green; */
}