.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: lightgrey;
    color: black;
    outline: none;
    width: 80%;
    height: 500px;
}


.close-modal, .remove-modal {
    border: none;
    background: none;
    font-size: 1.2em;
}

.modal-title {
    padding: .5em;
    margin-top: 0;
    border-bottom: 1px solid black;
}
