.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;

}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;

}

.modal {
    background: #333336;
    color: #fff;
    outline: none;
    width: 50em;
    height: 40em;
    border-radius: 10px;

}


.modal-title {
    padding: .5em;
    margin-top: 0;

}
